@use "../abstracts" as abs;
.pagination {
  grid-column: 1 / -1;
  justify-content: end;
  margin-top: 1rem;
  .page-numbers {
    display: inline-block;
    margin: 0 5px;
    padding: 8px 12px;
    background-color: #eee;
    border-radius: 5px;
    text-decoration: none;
    color: abs.$primary;
  }

  .page-numbers.current {
    background-color: abs.$primary;
    color: #fff;
  }
}
