.site-header {
  background: $primary;
  height: $wp-header-height;
  
  .navbar {
    // Sobreescribe navbar de Bootstrap
    padding: 0;
  }
  
  .custom-logo {
    height: 50px;
    width: auto;
  }
}