@use "../abstracts" as abs;

.site-header {
  background: abs.$primary;
  height: abs.$wp-header-height;
  
  .navbar {
    // Sobreescribe navbar de Bootstrap
    padding: 0;
  }
  
  .custom-logo {
    height: 50px;
    width: auto;
  }
}