@use "sass:color";
@use "../abstracts" as abs;

// Variables para colores y transiciones
$primary-bg: #ccc;
$primary-hover-bg: #39b54a7a;
$secondary-bg: #f89090;
$transition-duration: 0.35s;
$submenu-width: 150px;
$padding-inline: 16px;

// =============================================================================
// Componente: Menú WordPress
// =============================================================================
// .menu {
//   &-item {
//     position: relative;

//     &-has-children {
//       > .nav-link {
//         &::after {
//           @include abs.dropdown-arrow(down);
//         }
//       }

//       > .sub-menu {
//         @media (min-width: 992px) {
//           position: absolute;
//           z-index: 9;
//         }

//         .menu-item {
//           &-has-children {
//             > .nav-link {
//               &::after {
//                 @include abs.dropdown-arrow(right);
//                 position: relative;
//                 top: 0.2rem;
//                 left: 0;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }

// =============================================================================
// Componente: Menú WordPress Bootstrap Personalizado
// =============================================================================
$menu-color: #003366;
$submenu-bg: #f8f9fa;
$transition-time: 0.3s;
#menu-main {
  .menu {
    &__list {
      list-style: none;
      padding-left: 0;
      margin: 0;

      &--submenu {
        display: none;
        padding-left: 1rem;
        background-color: $submenu-bg;
        @media (min-width: 992px) {
          position: absolute;
          left: 0;
          top: 100%;
          padding-left: 0;
          border: 1px solid #606060;
        }
        &.lvl-1 {
          @media (min-width: 992px) {
            width: 200px;
          }
        }
        &.lvl-2 {
          @media (min-width: 992px) {
            left: 100%;
            top: 0;
            width: 200px;
          }
        }
        .menu__toggle {
          svg {
            @media (min-width: 992px) {
              transform: rotate(-90deg);
            }
          }
          @media (min-width: 992px) {
            right: -6px;
          }
        }
      }

      &:not(.menu__list--submenu) {
        @media (min-width: 992px) {
          display: flex;
          margin-left: auto;
        }
      }
    }

    &__item {
      position: relative;
      padding: 0.5rem 0;

      &--active > .menu__link {
        font-weight: bold;
        color: $menu-color;
      }

      &--has-children {
        .menu__toggle {
          background: none;
          border: none;
          position: absolute;
          right: 0;
          top: 0.5rem;
          width: 2rem;
          height: 2rem;
          cursor: pointer;

          svg {
            transition: all 0.25s;
            @media (min-width: 992px) {
              width: 20px;
              height: auto;
            }
          }
          &[aria-expanded="true"] svg {
            transform: rotate(90deg);
          }
          @media (min-width: 992px) {
            width: auto;
            height: auto;
            top: calc(26.59px / 2);
            right: calc(-28px / 2);
            pointer-events: none;
          }
        }
        .menu__list--submenu {
          .menu__toggle {
            @media (min-width: 992px) {
              right: -6px;
            }
          }
        }
        @media (min-width: 992px) {
          display: flex;
          align-items: center;
        }
      }

      &--lvl-1 {
        > .menu__link {
          @media (min-width: 992px) {
            position: relative;
            padding-block: 0.75rem;
            &:before {
              content: "";
              display: block;
              position: absolute;
              bottom: 0;
              height: 4px;
              left: 14px;
              width: calc(100% - 14px - 14px);
              background-color: transparent;
              border-radius: 8px;
              transition: all 0.35s;
            }
          }
        }

        &:hover {
          > .menu__link {
            @media (min-width: 992px) {
              &:before {
                background-color: #2c3e50;
              }
            }
          }
        }
      }

      &:not(.menu__item--lvl-1) {
        @media (min-width: 992px) {
          background-color: #fff;
          transition: all 0.25s;
          border-bottom: 1px solid #606060;
          &:hover {
            background-color: #f7ad1a;
            > .menu__link {
              color: #fff;
            }
            > .menu__toggle svg {
              fill: #fff;
              color: #fff;
            }
          }
        }
        > .menu__link {
          @media (min-width: 992px) {
            font-size: 18px;
            width: 100%;
            padding: 0.75rem 1rem;
          }
        }
        .menu__toggle {
          svg {
            @media (min-width: 992px) {
            }
          }
        }
      }

      @media (min-width: 992px) {
        padding: 0;
        &:hover > .menu__list--submenu {
          display: block !important;
        }
      }
    }

    &__link {
      color: $menu-color;
      text-decoration: none;
      display: block;
      // display: inline-block;
      padding-right: 2rem;
      font-size: 1.25rem;
      @media (min-width: 992px) {
        // padding-left: 0.75rem;
        // padding-right: 0.75rem;
        display: inline-block;
        // padding-left: 1rem;
        // padding-right: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
  }
}
