div[id^="pods-settings-group-"] > h2 {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 1rem;
}

#pods-search {
  height: 35px;
  width: calc(100% + -5px);
}
